@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-bubble {
    @apply w-full bg-blue-600 aspect-video rounded-full absolute top-1/4 -z-10
} 

* {
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

*::before {
    left: 10%;    
}      
 
.nav-menu-open { 
    background: hsla(229, 31%, 21%, .9);
    overflow: hidden; 
    @apply min-h-screen absolute w-full z-10 m-0;
    top: 0;
} 
 
.underlined {
    @apply pb-3 before:w-4/5 before:bg-accent before:absolute relative before:h-1 before:top-full;
}

.tab-show {
    @apply sm:flex sm:flex-row sm:items-stretch justify-between;
}

.button-blue {
    @apply hover:bg-transparent hover:border-2 hover:text-primary-100 hover:shadow-md hover:border-solid hover:border-primary-100 rounded-lg py-3 px-4 bg-primary-100 text-white my-8;
}
 
.button-red {
    @apply hover:border-accent border-white w-full hover:bg-white border-2 hover:text-accent border-solid rounded-lg my-5 py-2 px-6 bg-accent text-white;
}

.nav__link {
    @apply font-light tracking-widest hover:text-accent;
}